@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
$rg-width: 80vw;
$min-width: 470px;
$main-color: rgb(100, 100, 100);
$second-color: rgb(172, 172, 172);
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    // overflow-x: hidden;
    * {
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        overflow-x: hidden;
    }
}
.header {
    width: $rg-width;
    min-width: $min-width;
    margin-top: 30px;
    padding: 20px 0px;
    border: 2px solid $main-color;
    box-shadow: rgba(29, 29, 29, 0.35) 0px 5px 15px;
    font-size: 10px;
    text-align: center;
}
.custom-file-upload {
    width: $rg-width;
    min-width: $min-width;
    height: 300px;
    margin-top: 10px;
    // align-items: space-between;
    gap: 20px;
    cursor: pointer;
    border: 2px dashed rgb(100, 100, 100);
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    border-radius: 10px;
    // box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.5);
    .icon svg {
        height: 80px;
        fill: rgba(75, 85, 99, 1);
    }
    input {
            display: none;
    }
}
.text span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
}
.loader-container {
    margin: 200px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.loader {
    width: 64px;
    height: 64px;
    position: relative;
    background: #FFF;
    border-radius: 4px;
    overflow: hidden;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 40px;
        height: 40px;
        transform: rotate(45deg) translate(30%, 40%);
        background: rgb(185, 185, 185);
        box-shadow: 32px -34px 0 5px rgb(104, 104, 104);
        animation: slide 2s infinite ease-in-out alternate;
    }
    &:after {
        content: "";
        position: absolute;
        left: 10px;
        top: 10px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #505050;
        transform: rotate(0deg);
        transform-origin: 35px 145px;
        animation: rotate 2s infinite ease-in-out;
    }
}
    
@keyframes slide {
    0% , 100% { bottom: -35px }
    25% , 75% { bottom: -2px }
    20% , 80% { bottom: 2px }
}

@keyframes rotate {
    0% { transform: rotate(-15deg) }
    25% , 75% { transform: rotate(0deg) }
    100% { transform: rotate(25deg) }
}

.resize-image {
    width: $rg-width;
    min-width: $min-width;
    padding: 30px;
    margin-top: 30px;
    border: 2px solid $main-color;
}
.image {
    padding: 10px;
    border: 2px dashed $second-color;
    // border-radius: 10px;
    // box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
    img {
        width: 430px;
    }
}
.settings {
    width: 450px;
    font-size: 15px;
    margin-top: 20px;
    padding: 10px 0px;
    // flex-direction: row;
    border: 2px dashed $second-color;
    .inputs {
        flex-direction: row;
        // border: #ff3d00 3px solid;
        .input-group {
            flex-direction: row;
            // width: 200px;
            height: 50px;
            padding: 5px;
            margin: 0px 0px;
            input {
                padding: 3px;
                margin: 5px;
                width: 100px;
            }
        }
    }
    > button {
        padding: 10px;
        background-color: rgb(50, 50, 50);
        color: rgb(255, 255, 255);
        border-radius: 5px;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        &:hover {
            background-color: rgb(100, 100, 100);
        } 
    }
}
